@use '../base/typography';
@use '../utils/variables' as *;
@use '../utils/mixins';

footer{
    padding: 15px;
    background: $background-footer;
    color: $background-secondary;
    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 0px;
    }
    h2{
        font-family: 'Shrikhand';
        font-size: medium;
        font-weight: 100;
    }
    a{
        text-decoration: none;
        color: $background-secondary;
        &:visited{
            text-decoration: none;
        }
    }
    ul{
        @media (min-width: 768px) {
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin-top: 0px;
        }
    }
}