@use '../base/typography';
@use '../utils/variables' as *;
@use '../utils/mixins';

footer{
    padding: 15px;
    background: $background-footer;
    color: $background-secondary;
    h2{
        font-family: 'Shrikhand';
        font-size: medium;
        font-weight: 100;
    }
    a{
        text-decoration: none;
        color: $background-secondary;
        &:visited{
            text-decoration: none;
        }
    }
}