@use '../base/typography';
@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    @include bottom-shadow;
    z-index: 1;
    @media (min-width: 768px) {
        display: none;
    }
    &--backhome{
        box-shadow: none;
        a{
            text-decoration: none;
            position: absolute;
            left: 5%;
            font-size: x-large;
            color: black;
            &:hover{
                text-decoration: none;
            }
            &:visited{
                text-decoration: none;
            }
        }
    }
    &__desktop{
        display: none;
        &--backhome{
            display: none;
        }
        @media (min-width: 768px) {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            justify-content:space-between;
            align-items: center;
            padding-bottom: 0px;
            padding-top: 0px;
            padding-left: 25px;
            @include bottom-shadow;
            z-index: 1;
            &--backhome{
                display: flex;
                box-shadow: none;
                padding-bottom: 10px;
                padding-top: 10px;
                justify-content:center;
                align-items: center;
                a{
                    text-decoration: none;
                    position: absolute;
                    left: 5%;
                    font-size: x-large;
                    color: black;
                    &:hover{
                        text-decoration: none;
                    }
                    &:visited{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.logo{
    width: 150px;
}