@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../../public/css/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(../../public/css/font/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  src: url(../../public/css/font/Shrikhand-Regular.ttf);
}
/** Background**/
/** Fonts**/
/** Brand colors**/
/** Animation duration**/
/** Quantité de recettes max**/
#how-to {
  list-style: none;
  counter-reset: list-position;
  padding-left: 15px;
  padding-right: 5px;
}

#how-to li {
  counter-increment: list-position;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  box-shadow: 0px 5px 10px lightgrey;
}
#how-to li:hover {
  background-color: rgba(146, 86, 220, 0.2156862745);
}
#how-to li:hover > .list-icon {
  color: #9356DC;
}
#how-to li::before {
  content: counter(list-position);
  padding: 5px 10px;
  border-radius: 20px;
  position: relative;
  right: 30px;
  background-color: #9356DC;
  color: #FFFFFF;
}
#how-to li > .list-icon {
  position: relative;
  right: 15px;
  color: grey;
}

footer ul {
  list-style: none;
  padding-left: 0px;
  font-size: small;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul .fa-solid {
  padding-right: 10px;
}
footer ul .fa-handshake-angle {
  font-size: x-small;
}

.header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  box-shadow: 0px 5px 10px lightgrey;
  z-index: 1;
}
@media (min-width: 768px) {
  .header {
    display: none;
  }
}
.header--backhome {
  box-shadow: none;
}
.header--backhome a {
  text-decoration: none;
  position: absolute;
  left: 5%;
  font-size: x-large;
  color: black;
}
.header--backhome a:hover {
  text-decoration: none;
}
.header--backhome a:visited {
  text-decoration: none;
}
.header__desktop {
  display: none;
}
.header__desktop--backhome {
  display: none;
}
@media (min-width: 768px) {
  .header__desktop {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 25px;
    box-shadow: 0px 5px 10px lightgrey;
    z-index: 1;
  }
  .header__desktop--backhome {
    display: flex;
    box-shadow: none;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
  }
  .header__desktop--backhome a {
    text-decoration: none;
    position: absolute;
    left: 5%;
    font-size: x-large;
    color: black;
  }
  .header__desktop--backhome a:hover {
    text-decoration: none;
  }
  .header__desktop--backhome a:visited {
    text-decoration: none;
  }
}

.logo {
  width: 150px;
}

footer {
  padding: 15px;
  background: rgb(62, 62, 62);
  color: #F6F6F6;
}
@media (min-width: 768px) {
  footer {
    padding-left: 40px;
    padding-right: 0px;
  }
}
footer h2 {
  font-family: "Shrikhand";
  font-size: medium;
  font-weight: 100;
}
footer a {
  text-decoration: none;
  color: #F6F6F6;
}
footer a:visited {
  text-decoration: none;
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 0px;
  }
}

.course {
  width: 100%;
  border: none;
  padding: 0px;
  margin-bottom: 20px;
  min-width: 0;
  text-overflow: ellipsis;
}
.course__name {
  text-transform: uppercase;
  background-image: linear-gradient(#99E2D0, #99E2D0);
  background-position: bottom left;
  background-size: 60% 3px;
  background-repeat: no-repeat;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .course__name {
    margin-left: 10px;
    margin-bottom: 0px;
  }
}

.recipe-container {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px lightgrey;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
  height: 70px;
  opacity: 0;
  animation: recipe-slide-up 750ms forwards;
}
.recipe-container:nth-child(5) {
  animation-delay: 150ms;
}
.recipe-container:nth-child(7) {
  animation-delay: 300ms;
}
.recipe-container:nth-child(9) {
  animation-delay: 450ms;
}
.recipe-container:nth-child(11) {
  animation-delay: 600ms;
}
@media (min-width: 768px) {
  .recipe-container {
    margin: 10px;
  }
}
.recipe-container__checkbox {
  display: none;
  width: 0%;
  transition: width 300ms;
}
.recipe-container:hover {
  cursor: pointer;
}
.recipe-container div {
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.recipe-container__name {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  transition-property: width;
  transition-duration: 300ms;
}
.recipe-container__name__title {
  font-size: large;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  .recipe-container__name__title {
    font-size: medium;
  }
}
.recipe-container__name__precision {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 768px) {
  .recipe-container__name__precision {
    font-size: small;
  }
}
.recipe-container__rate {
  font-size: small;
  font-weight: 700;
  margin-right: 10px;
  margin-top: 40px;
  margin-bottom: 15px;
}
.recipe-container__rate p {
  margin-top: 40px;
}
.recipe-container i {
  transition: transform 300ms 50ms;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + .recipe-container > .recipe-container__name {
  width: 60%;
}
input[type=checkbox]:checked + .recipe-container > .recipe-container__checkbox {
  display: inline-flex;
  height: inherit;
  transform-origin: right;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: #FFFFFF;
  overflow: hidden;
  width: 20%;
}
input[type=checkbox]:checked + .recipe-container > .recipe-container__checkbox i {
  animation: icon-rotate 300ms forwards 50ms;
}
input[type=checkbox]:not(:checked) + .recipe-container > .recipe-container__name {
  width: 80%;
}
input[type=checkbox]:not(:checked) + .recipe-container > .recipe-container__checkbox {
  display: inline-flex;
  height: inherit;
  transform-origin: right;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: #FFFFFF;
  overflow: hidden;
}

@keyframes recipe-slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.search-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  padding-left: 9px;
  z-index: 0;
}
@media (min-width: 768px) {
  .search-container {
    display: none;
  }
}
.search-container__desktop {
  display: none;
}
@media (min-width: 768px) {
  .search-container__desktop {
    display: flex;
    width: fit-content;
    min-width: 20%;
    justify-content: center;
    background-color: #EAEAEA;
    font-family: "Roboto", sans-serif;
    z-index: 1;
    padding-left: 10px;
    border-radius: 30px 0px 0px 30px;
  }
  .search-container__desktop__content {
    width: 90%;
  }
}

#city {
  border: none;
  font-weight: 700;
  background: none;
  width: 66%;
  margin-left: 10px;
}
#city::placeholder {
  color: rgb(75, 75, 75);
}
#city__desktop {
  border: none;
  font-weight: 700;
  background: none;
  width: 66%;
  margin-left: 10px;
}

i.fa-solid.fa-location-dot {
  color: rgb(75, 75, 75);
}

.btn-main {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 10px lightgrey;
  min-width: 50%;
  border: none;
  color: #FFFFFF;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  .btn-main {
    min-width: 20%;
  }
}
.btn-main::after {
  content: " ";
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  filter: brightness(110%);
  box-shadow: 0px 5px 10px rgb(140, 140, 140);
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}
.btn-main:hover {
  cursor: pointer;
}
.btn-main:hover::after {
  opacity: 1;
}

/*Mise en page de la card*/
.card {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .card {
    width: 47%;
  }
}
.card__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0px;
  background-color: #FFFFFF;
  border-radius: 25px;
  border: none;
  margin-bottom: 30px;
  font-size: medium;
  color: black;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0px 5px 10px lightgrey;
}
.card__tag {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 15%;
  position: relative;
  bottom: 95%;
  left: 75%;
  background-color: #99E2D0;
  color: #278870;
  text-align: center;
  font-weight: 700;
  font-size: small;
  padding: 5px;
  border-radius: 3px;
}
.card__image-container {
  height: 150px;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 25px;
}
.card__text p {
  margin-top: 5px;
}
.card__title {
  font-weight: bold;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: medium;
}

.fav-icon__container {
  height: fit-content;
  font-size: x-large;
  position: relative;
  top: 70%;
  right: 15%;
  width: 0px;
}
.fav-icon__container .fav-icon-home {
  position: relative;
  font-size: x-large;
  padding-right: 5px;
}
.fav-icon__container .fav-icon-home:hover {
  cursor: pointer;
}
.fav-icon__container .fav-icon-home .fa-regular.fa-heart {
  font-size: x-large;
  margin-right: 15px;
}
.fav-icon__container .fav-icon-home .fa-regular.fa-heart::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.fav-icon__container .fav-icon-home .fa-regular.fa-heart::after {
  content: "\f004";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-property: width, font-weight;
  transition-duration: 300ms;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + .fav-icon-home .fa-regular.fa-heart::after {
  width: 24px;
  font-weight: 900;
}

.loader-container {
  position: fixed;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #EAEAEA;
  z-index: 3;
  animation: container-show 3000ms backwards;
}

.loader {
  visibility: hidden;
  width: 72px;
  height: 72px;
  border: 8px dashed #FFFFFF;
  border-radius: 50%;
  animation: spinner 300ms 10 backwards;
}

#intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  #intro {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 10px;
  }
}

.presentation {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.presentation > h1 {
  font-size: x-large;
  margin-bottom: 5px;
}
.presentation > p {
  font-size: large;
  margin-top: 5px;
}
@media (min-width: 768px) {
  .presentation {
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
    text-align: left;
  }
  .presentation > h1 {
    font-size: xx-large;
    margin-bottom: 0px;
  }
  .presentation > p {
    font-size: medium;
  }
}

.fonctionnement {
  background-color: #FFFFFF;
  padding: 15px;
}
@media (min-width: 768px) {
  .fonctionnement {
    width: 50%;
    background-color: #FFFFFF;
    padding: 15px;
  }
  .fonctionnement > h2 {
    display: none;
  }
}

#restaurant {
  background-color: #F6F6F6;
  padding: 15px;
}
@media (min-width: 768px) {
  #restaurant {
    padding-left: 25px;
    padding-right: 25px;
  }
}
#restaurant__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@keyframes spinner {
  0% {
    visibility: visible;
    transform: rotate(0deg);
    border-color: #FFFFFF;
  }
  25% {
    border-color: #9356DC;
  }
  50% {
    border-color: #FF79DA;
    border-style: solid;
  }
  75% {
    border-color: #9356DC;
  }
  100% {
    visibility: visible;
    border-color: #FFFFFF;
    transform: rotate(360deg);
  }
}
@keyframes container-show {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
.restaurant-body {
  background-color: #F6F6F6;
}

.menu {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  z-index: 1;
  top: -50px;
  margin-bottom: -20px;
}
@media (min-width: 768px) {
  .menu {
    padding-bottom: 0px;
  }
}
.menu__image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: 0;
}
@media (min-width: 768px) {
  .menu__image {
    height: 200px;
  }
}
.menu__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .menu__name {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.menu__name .fav-icon {
  position: relative;
}
.menu__name .fav-icon:hover {
  cursor: pointer;
}
.menu__name .fav-icon .fa-regular.fa-heart {
  font-size: xx-large;
}
.menu__name .fav-icon .fa-regular.fa-heart::after {
  content: "\f004";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0%;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-property: width, font-weight;
  transition-duration: 300ms;
}
.menu h1 {
  font-family: "Shrikhand";
  font-size: x-large;
}
.menu form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .menu form.menu__list {
    flex-direction: row;
    align-items: flex-start;
  }
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + .fav-icon .fa-regular.fa-heart::after {
  width: 32px;
  font-weight: 900;
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto";
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
