@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../../public/css/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../../public/css/font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Shrikhand';
    font-style: normal;
    src: url(../../public/css/font/Shrikhand-Regular.ttf);
}