/** Background**/
$background-primary:#FFFFFF;
$background-secondary:#F6F6F6;
$background-tertiary:#EAEAEA;
$background-footer:rgb(62, 62, 62);

/** Fonts**/
$search-color:rgb(75, 75, 75);

/** Brand colors**/
$brand-primary:#9356DC;
$brand-primary-hover:#9256dc37;
$brand-secondary:#FF79DA;
$brand-tertiary:#99E2D0;

/** Animation duration**/
$anim-duration:300ms;

/** Quantité de recettes max**/
$recipe-counter:4;